.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url("../../assets/bg8.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    padding: 0 1.4rem;
}
.navbar-logo img {
    width:100px;
    margin-top: 1em;
}
.navbar-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.navbar-links li {
    font-family:'Quicksand';
    color: var(--color-isabelline);
    font-size: 1.2em;
    margin: 0 1rem;
    cursor: pointer;
    transition: 0.3s;
}
.navbar-links li:hover {
    color: var(--color-smallow);   
}
.navbar-links a:hover {
    border-top: 1px solid var(--color-smallow);
}
.navbar-smallscreen {
    display: none;
}
.navbar-smallscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width:100vw;
    height: 300px;
    background: rgba(248, 248, 255, 0.8);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
     -webkit-backdrop-filter:blur(5px);
    transition: .5s ease;
    flex-direction: column;
    z-index: 5
}
.navbar-smallscreen-overlay .overlay-close {
    font-size: 24px;
    color: var(--color-smallow);
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
}
.navbar-smallscreen-links {
    list-style: none;
}
.navbar-smallscreen-links li {
    margin: 1.5rem;
    cursor: pointer;
    color: var(--color-secondary);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    font-family: var(--font-base);
    padding-right: 1em;   
}
.navbar-smallscreen-links li:hover {
    color: var(--color-gray);
    font-weight: 700;
    padding: 1em;
    border-left: 2px solid var(--color-isabelline);
}
@media screen and (min-width: 2000px) {
    .navbar-logo img {
        width: 100px;
    }
}
@media screen and (max-width: 1150px) {
    .navbar-links {
        display: none;
    }
    .navbar-smallscreen-overlay {
        height: 80vh;   
    }
    .navbar-smallscreen {
        display: flex;
    }
}
@media screen and (max-width: 650px) {
    .navbar {
        padding: .8rem;
    }
    .navbar-smallscreen-overlay {
        height: 80vh;   
    }
    .navbar-logo img {
        width: 80px;
    }
    
}